<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Rocketseat</title>
</head>
<body>
    <header>
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" height="150px" alt="" href="/">
        <a href="/" >INÍCIO</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">COMUNIDADE</a>
        <a href="mailto:oi@rocketseat.com.br" >EMAIL</a>
        <a href="/courses">CONTEÚDOS</a>
        <a href="/sobre">SOBRE</a>
        
        <div class="social">
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/facebook.svg" alt="facebook"></a>
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/instagram.svg" alt="instagram"></a>
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/twitter.svg" alt="twitter"></a>
        </div>

        <button type="submit">Login</button>
    </header>


    {% block content %}

    {% endblock %}

    <footer>
        <p></p><strong>Felipe Pereira</strong> © 2020 - Todos os direitos reservados <a href="">Direitos autorais  -  </a> <a href="">Termos de uso  -  </a> <a href=""> Política de Privacidade</a></p>
    </footer>
  
    
</body>
</html>