{% extends "layout.njk" %}

{% block content %}


<div class="info">
    <img src="{{about.image_url}}" alt="logomarca">
    <h1>{{about.title}}</h1>

    <h4>{{about.description}}</h4>

    <button type="submit">{{about.button}}</button>
</div>

    
{% endblock %}