<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Rocketseat</title>
</head>
<body>
    <header>
        <img src="https://yt3.ggpht.com/a/AGF-l7_gRI0RdRC_VNg535o0C21ltP0eTFhi4rjRmw=s240-c-k-c0xffffffff-no-rj-mo" alt="" >
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">COMUNIDADE</a>
        <a href="mailto:oi@rocketseat.com.br" >EMAIL</a>
        <a href=”tel:+5547992078767″>TELEFONE</a>
        <a href="/sobre">SOBRE</a>
        <a href=/conteudos>CONTEUDOS</a>
        
        <div class="social">
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/facebook.svg" alt="facebook"></a>
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/instagram.svg" alt="instagram"></a>
            <a href=""><img src="https://rocketseat.com.br/static/images/icons/twitter.svg" alt="twitter"></a>
        </div>

        <button type="submit">Login</button>
    </header>

    {% block content %}

    {% endblock %}
    
</body>
</html>